<div class='container'>
  <div class="row">
    <div class="col-md-3 offset-md-1 my-2">
      <h5 class="text-center" style='background-color: #e6e6e6;'>マイページ</h5>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-md-2 my-auto">
      <h4>登録情報</h4>
    </div>
    <div class="col-md-2">
      <%= link_to "編集する", my_page_edit_customers_path, class: "btn btn-block btn-success" %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <table class="table table-bordered">
        <tbody>
          <tr>
            <td>氏名</td>
            <td><%= @customer.last_name %>　<%= @customer.first_name %></td>
          </tr>
          <tr>
            <td>カナ</td>
            <td><%= @customer.last_name_easy %>　<%= @customer.first_name_easy %></td>
          </tr>
          <tr>
            <td>郵便番号</td>
            <td><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td>住所</td>
            <td><%= @customer.address %></td>
          </tr>
          <tr>
            <td>電話番号</td>
            <td><%= @customer.phone_number %></td>
          </tr>
          <tr>
            <td>メールアドレス</td>
            <td><%= @customer.email %></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-md-2 my-auto">
      <h4>配送先</h4>
    </div>
    <div class="col-md-2">
      <%= link_to "一覧を見る", deliveries_path, class: "btn btn-block btn-primary" %>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-md-2 my-auto">
      <h4>注文履歴</h4>
    </div>
    <div class="col-md-2">
      <%= link_to "一覧を見る", orders_path, class: "btn btn-block btn-primary" %>
    </div>
  </div>
</div>
