<div class="bg-image pt-5">
  <div class='container'>
  <div class="row">
    <div class="col-md-2 offset-md-2 my-2">
      <h4 class="text-center title">商品一覧</h4>
    </div>
    <div class="col-md-3 offset-md-1">
      <!-- 並び替え用フォーム -->
      <%= render 'layouts/sort_item', link: admin_sort_path %>
    </div>
    <div class='col-md-2'>
      <h2 class='text-right'><%= link_to '+', new_admin_item_path, class: 'btn btn-light btn-lg shadow rounded-circle' %></h2>
    </div>
  </div>
  <div class="row col-md-12">
    <div class="col-md-4">
    <% if @word != nil %>
      <h2 class="offset-md-1">検索結果:"<%= @word %>"</h2>
      <h6 class="mt-auto">(全<%= @total_items.size %>件)</h6>
    <% end %>
    </div>
  </div>
  <div id="admin_items_index">
    <%= render 'index', items: @items %>
  </div>
</div>
</div>
