<div class='container'>
  <div class='row'>
    <div class='col-md-10 mx-auto'>
      <h5 class="py-1">　会員一覧　</h5>
      <table class='table table-hover table-inverse col-md-10 mx-auto'>
        <thead class='thead-light text-dark'>
          <tr>
            <th>会員ID</th>
            <th><u>氏名</u></th>
            <th>メールアドレス</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @customers.each do |customer| %>
            <tr>
              <td><%= customer.id %></td>
              <td>
                <%= link_to edit_admin_customer_path(customer) do %>
                  <span class="text-dark">
                    <u><%= customer.last_name %><%= customer.first_name %></u>
                  </span>
                <% end %>
              </td>
              <td><%= customer.email %></td>
              <td>
                <% if customer.is_active == true %>
                  <span class="text-success">有効</span>
                <% else %>
                  <span class="text-muted">無効</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
