<div class='container'>
  <div class='row'>
    <h4 class="text-center title pl-5 pr-5 ml-5"><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h4>
  </div>
  <div class='row mt-3'>
    <div class="col-md-12 mx-auto">
      <div class='table'>
        <table class="table-borderless">
          <tr>
            <td style="width: 20%"><h5>会員ID</h5></td>
            <td><h5><%= @customer.id %></h5></td>
          </tr>
          <tr>
            <td style="width: 20%"><h5>氏名</h5></td>
            <td><h5><%= @customer.last_name %>　<%= @customer.first_name %></h5></td>
          </tr>
          <tr>
            <td style="width: 20%"><h5>フリガナ</h5></td>
            <td><h5><%= @customer.last_name_easy %>　<%= @customer.first_name_easy %></h5></td>
          </tr>
          <tr>
            <td style="width: 20%"><h5>郵便番号</h5></td>
            <td><h5><%= @customer.postal_code %></h5></td>
          </tr>
          <tr>
            <td style="width: 20%"><h5>住所</h5></td>
            <td><h5><%= @customer.address %></h5></td>
          </tr>
          <tr>
            <td style="width: 20%"><h5>電話番号</h5></td>
            <td><h5><%= @customer.phone_number %></h5></td>
          </tr>
          <tr>
            <td style="width: 20%"><h5>メールアドレス</h5></td>
            <td><h5><%= @customer.email %></h5></td>
          </tr>
          <tr>
            <td style="width: 20%"><h5>会員ステータス</h5></td>
            <td><h5>
              <% if @customer.is_active == true %>
                <p class="text-success font-weight-bold">有効</p>
              <% else %>
                <p class="text-secondary font-weight-bold">無効</p>
              <% end %>
            </h5></td>
          </tr>
          <tr>
            <td style="width: 20%"></td>
            <td>
              <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success" %>
              <%= link_to "注文履歴一覧を見る", admin_root_path, class: "ml-5 btn btn-primary" %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
