<div class='container'>
  <div class='row'>
    <div class='col-md-8'>
      <h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h3>
      <div class='table'>
        <table>
          <tr><td>会員ID</td><td><%= @customer.id %></td></tr>
          <tr><td>氏名</td><td><%= @customer.last_name %>　<%= @customer.first_name %></td></tr>
          <tr><td>フリガナ</td><td><%= @customer.last_name_easy %>　<%= @customer.first_name_easy %></td></tr>
          <tr><td>電話番号</td><td><%= @customer.phone_number %></td></tr>
          <tr><td>メールアドレス</td><td><%= @customer.email %></td></tr>
          <tr>
            <td>会員ステータス</td>
            <td>
              <% if @customer.is_active == ture %>
                有効
              <% else %>
                無効
              <% end %>
            </td>
          </tr>
        </table>
      </div>
      <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-lg btn-success" %>
      <%= link_to "注文履歴一覧を見る", admin_root_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>