<div class="delivery-page">

<div class="container">
  <div class="row">
    <div class="offset-md-1 my-2">
      <h4 class="title text-center px-4 text-light">配送先編集</h4>
    </div>
  </div>
  <%= render 'layouts/errors', obj: @delivery %>
  <div class="row">
    <%= form_with model: @delivery, url: delivery_path, method: :patch do |f| %>
    <table class="table text-light table-borderless">

        <tr>
          <div class='mt-2'>
            <td>郵便番号(ハイフン無し)</td>
          </div>
          <td>
            <div class='field mt-2'>
            <%= f.text_field :postal_code, autocomplete: 'off', class: 'ml-5 email' %>
            </div>
          </td>
        </tr>

        <tr>
          <div class='mt-2'>
            <td>住所</td>
          </div>
          <td>
            <div class='field mt-2'>
            <%= f.text_field :address, autocomplete: 'off', :size =>"54", class: 'ml-5 postal_code' %>
            </div>
          </td>
        </tr>
        <tr>
          <div class='mt-2'>
            <td>宛名</td>
          </div>
          <td>
            <div class='field mt-2'>
              <%= f.text_field :name, class: "ml-5 mr-5" %>
              <%= f.hidden_field :customer_id, :value => current_customer.id %>
              <%= f.submit "変更を保存", class: "btn btn-success" %>
            </div>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
</div>

</div>