<div class="container">
  <div class="row">
    <div class="offset-md-1 my-2">
      <h4 class="title text-center px-4">配送先登録 / 一覧</h4>
    </div>
  </div>
    <%= render 'layouts/errors', obj: @delivery %>
  <div class="row">
    <%= form_with model: @delivery, url: deliveries_path, method: :post do |f| %>
    <table>

        <tr>
          <div class='mt-2'>
            <td>郵便番号(ハイフン無し)</td>
          </div>
          <td>
            <div class='field mt-2'>
            <%= f.text_field :postal_code, autocomplete: 'off', class: 'ml-5 email' %>
            </div>
          </td>
        </tr>

        <tr>
          <div class='mt-2'>
            <td>住所</td>
          </div>
          <td>
            <div class='field mt-2'>
            <%= f.text_field :address, autocomplete: 'off', :size =>"54", class: 'ml-5 postal_code' %>
            </div>
          </td>
        </tr>
        <tr>
          <div class='mt-2'>
            <td>宛名</td>
          </div>
          <td>
            <div class='field mt-2'>
              <%= f.text_field :name, class: "ml-5 mr-5" %>
              <%= f.hidden_field :customer_id, :value => current_customer.id %>
              <%= f.submit "新規登録", class: "btn btn-success" %>
            </div>
          </td>
        </tr>
      </table>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12 mt-5">
      <table class='table table-bordered' style="width: 80%">
        <thead class='thead-light'>
          <tr>
            <th class="text-center" style="width: 10%">郵便番号</th>
            <th style="width: 50%" class="text-center">住所</th>
            <th class="text-center">宛名</th>
            <th style="width: 26%"></th>
          </tr>
        </thead>
        <tbody>
          <% @deliveries.each do |delivery| %>
            <tr>
              <td class="align-middle"><%= delivery.postal_code %></td>
              <td class="align-middle"><%= delivery.address %></td>
              <td class="align-middle"><%= delivery.name %></td>
              <td class="align-middle">
              <%= link_to "編集する", edit_delivery_path(delivery), class: "btn btn-success mr-3" %>
              <%= link_to "削除する", delivery_path(delivery), method: :delete, data: {confirm: "本当に消しますか?" }, class: "btn btn-danger" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
