<section>
  <div class="item-index-page">
    <div class="index-main">
      <div class="index-item-title text-light">
        <% if @word != nil %>
          <h4 class="font-weight-bold">検索結果:"<%= @word %>"</h4>
        <% elsif @genre != nil %>
          <h4 class="font-weight-bold"><%= @genre.name %>一覧</h4>
        <% else %>
          <h4 class="font-weight-bold">商品一覧</h4>
        <% end %>
        <h6 class="font-weight-bold">(全<%= @total_items.size %>件)</h6>
      </div>
      <!-- 並び替え用フォーム -->
      <%= render 'layouts/sort_item', link: sort_path %>
      <div id="public_items_index">
        <%= render 'index', items: @items %>
      </div>
    </div>
    <%= paginate @items %>
  </div>
</section>
