<div class="items-main">
  <div class="main-contents">
    <div class="item-title">
      <h4>商品一覧</h4>
      <h6>(全<%= @items.size %>件)</h6>
    </div>
    <div class="content-items">
      <% @items.each do |item| %>
      <div class="content">
        <%= link_to item_path(item), class: "text-dark link" do %>
          <div class="image-box">
            <%= image_tag item.get_item_image%>
          </div>
          <div class="tag">
            <p><%= item.name %></p>
            <p>¥<%= item.get_taxin_price.to_s(:delimited) %></p>
          </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<%= paginate @items %>
