<div class="container mt-5 px-5 px-sm-0">
  <div class="row">

    <!-- ジャンル検索 -->
    <div class="col-md-3">
      <div class="px-4">
        <div class="text-center mx-auto border border-dark">ジャンル検索</div>
        <div class="border border-dark px-2">
          <% @genres.each do |genre| %>
            <li><%= genre.name %></li>
          <% end %>
        </div>
      </div>
    </div>

    <!-- 商品一覧 -->
    <div class='col-md-9 px-2'>
      <div class="row">
        <h2>商品一覧</h2>
        <h6 class="mt-auto">(全<%= @items.size %>件)</h6>
      </div>
      <div class="row">
        <% @items.each do |item| %>
          <div class="col-3">
            <%= link_to item_path(item), class: "text-dark" do %>
              <%= image_tag item.get_item_image, size: '200x100' %>
              <p><%= item.name %></p>
            <% end %>
            <p>¥<%= item.get_taxin_price.to_s(:delimited) %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
